*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.local
.idea/*
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/*.xml
!.idea/inspectionProfiles/profiles_settings.xml
/vendor
/app/libs
/app/lib
/app/src/device/jniLibs
.kotlin/
.kotlin/errors/
/artifacts
witch main
memtag.db
Thumbs.db
*.apk
*.aab
*.jks
*.keystore
*.log
*.tmp
*~
/app/build
